name: CI - Unit Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository code
        uses: actions/checkout@v2

      - name: Set up .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: | 
            '8.0.x'
            '10.0.x'

      - name: Restore dependencies
        run: dotnet restore ./RinkuLib.slnx


      - name: Build the solution
        run: dotnet build ./RinkuLib.slnx --configuration Release --no-restore

      - name: Run unit tests with report
        run: dotnet test ./RinkuLib.Tests/RinkuLib.Tests.csproj --configuration Release --no-build
